* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

h1 {
    font-size: 36px;
    color: #555;
    font-weight: bold;
}

h4 {
    font-size: 36px;
    color: #555;
    font-weight: bold;
}

.conatiner {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.content-txt {
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 16px;
}

.content {
    margin-top: 30px;
    margin-bottom: 70px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.brand-title {
    font-size: 1.5rem;
    font-family: 'Baloo Thambi 2', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: .5rem;
    margin-left: 3rem;
}

.brand-title a {
    text-decoration: none;
    color: #DFDFDF;
}

.navbar-links {
    height: 100%;
    margin: auto;
    display: flex;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links button {
        height: 60px;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .cards {
        flex-direction: column;
        align-items: flex-start;
    }
}

.login-signup-btn {
    display: flex;
    margin: 5px 0 5px 100px;
}

.login-signup-btn button {
    margin: 5px;
    border: 1px solid black;
    font-size: 15px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5%;
    background-color: rgb(201, 201, 201);
    border: 1px solid black;
}

.login-signup-btn button:hover {
    background-color: #333;
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    transition: .5s;
}

footer {
    background-color: #333;
    width: 100%;
    height: 26vh;
    text-align: center;
    color: #DFDFDF;
}

.social-media p {
    font-size: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
}


/* .fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #41779F;
    color: white;
}

.fa-youtube {
    background: #C83333;
    color: white; */


}