* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: rgb(245, 245, 245);
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.brand-title {
    font-size: 1.5rem;
    font-family: 'Baloo Thambi 2', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: .5rem;
    margin-left: 3rem;
}

.brand-title a {
    text-decoration: none;
    color: #DFDFDF;
}

.navbar-links {
    height: 100%;
    margin: auto;
    display: flex;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links button {
        height: 60px;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .cards {
        flex-direction: column;
        align-items: flex-start;
    }
}

.login-signup-btn {
    display: flex;
    margin: 5px 0 5px 100px;
}

.login-signup-btn button {
    margin: 5px;
    border: 1px solid black;
    font-size: 15px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5%;
    background-color: rgb(201, 201, 201);
    border: 1px solid black;
}

.login-signup-btn button:hover {
    background-color: #333;
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    transition: .5s;
}

.intro {
    width: 100%;
    height: 400px;
    background-image: url("intro-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.intro-text {
    margin: auto;
    text-align: left;
}

.intro-text h2 {
    margin: 0;
    padding: 80px 0px 0px 80px;
    /*top, right, bottom, left */
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(56, 56, 56);
}

.intro-text p {
    width: 80%;
    margin: 0;
    padding: 10px 0px 0px 80px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

#content-wrapper {
    width: 90%;
    margin: auto;
}

.about {
    margin-bottom: 120px;
    margin-top: 120px;
    text-align: center;
}

.about h4 {
    font-size: 2.5rem;
}

.about p {
    font-size: 1.2rem;
}


/* slider style */

.showSlide {
    display: none;
}

.showSlide img {
    width: 100%;
    height: 500px;
}

.slidercontainer {
    /* max-width: 1000px; */
    position: relative;
    /* margin: auto; */
}


/* button */

.left,
.right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.left:hover,
.right:hover {
    background-color: rgba(115, 115, 115, 0.8);
}


/* text */

.slider-text {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    /* padding: 8px 12px; */
    width: 40%;
    position: absolute;
    right: 15%;
    top: 25%;
    text-align: right;
}

.slider-text-left {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    /* padding: 8px 12px; */
    width: 60%;
    position: absolute;
    left: 12%;
    top: 28%;
    text-align: left;
}


/* .active {
    background-color: #717171;
} */


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.how-it-works {
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.heading p {
    font-size: 40px;
    margin-bottom: 5vh;
}

.how-it-works img {
    height: 200px;
    width: 150px;
}

.cards {
    display: flex;
    background-color: white;
}

.cards p {
    padding: 5px;
}

.cards h6 {
    font-size: 20px;
    border-bottom: 2px solid rgb(86, 61, 124);
}

.select {
    /* Add shadows to create the "card" effect */
    /* width: 25%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-right: 1px;
    border-radius: 5px;
}

.select:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgb(86, 61, 124);
    border: 2px solid rgb(125, 99, 163);
}

.schedule {
    /* Add shadows to create the "card" effect */
    /* width: 25%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 3px 0 0 3px;
    border-radius: 5px;
}

.schedule:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgb(86, 61, 124);
    border: 2px solid rgb(125, 99, 163);
}

.pickup {
    /* Add shadows to create the "card" effect */
    /* width: 25%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 3px 3px 0 0;
    border-radius: 5px;
}

.pickup:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgb(86, 61, 124);
    border: 2px solid rgb(125, 99, 163);
}

.delivery {
    /* Add shadows to create the "card" effect */
    /* width: 25%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 3px;
}

.delivery:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgb(86, 61, 124);
    border: 2px solid rgb(125, 99, 163);
}

footer {
    background-color: #333;
    width: 100%;
    height: 26vh;
    text-align: center;
    color: #DFDFDF;
}

.social-media p {
    font-size: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #41779F;
    color: white;
}

.fa-youtube {
    background: #C83333;
    color: white;
}