* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

body {
    margin: 0;
}

header {
    background-color: #333333;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: whitesmoke;
}


/* Add padding to containers */

.container {
    padding: 16px;
    width: 60%;
    margin: auto;
}


/* Full-width input fields */

input[type=text],
input[type=password],
input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus {
    background-color: rgb(182, 182, 182);
    outline: none;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #b3b3b3;
    margin-bottom: 25px;
}


/* Set a style for the submit/register button */

.registerbtn {
    background-color: #333333;
    font-size: 20px;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}


/* Add a blue text color to links */

a {
    color: dodgerblue;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}